#principal{
    width: 900px;
    height: 1000px;
    margin: 1em auto;
    padding: 1em;
}
#cabecera{
    height: 15%;
    background: blueviolet;
    border-radius: 1em;
}
#centro{
    height: 75%;
}
#navegacion{
    width: 20%;
    height: 100%;
    background: brown;
    border-radius: 1em;
    margin-top: 1em;
    float: left
}
#menu{
    height: 5%;
    background: deeppink;
}
#contenido{
    width: 58%;
    height: 100%;
    background: coral;
    border-radius: 1em;
    float: left;
    margin: 1em;
}
#publicidad{
    width: 16.4%;
    height: 100%;
    background: darkgoldenrod;
    border-radius: 1em;
    margin-top: 1em;
    float: left
}

#pie{
    height: 3%;
    width: 100%;
    background: darkseagreen;
    margin-top: 2em;
    border-radius: 1em;
    text-align: center;
}